.reports
  background: #fdfdfd
  position: initial;
  margin-top: -20px;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

.small-data-card
  +makeFlex(30%,row,center,center)
  +size(30%,68px)
  margin: 0 5px
  font:
    size: 20px
    weight: bolder
  box-shadow: 2px 2px 2px 2px transparentize(#555,.9)
  background: #fff
  border: 1px solid #ddd
  color: #555
  overflow: hidden
  cursor: pointer
  transition: all ease .3s
  position: relative

  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0

  .material-icons
    color: $contrast-color

  .data
    color: lighten($primary-color,20%)
    margin-right: 5px

  &:hover
    box-shadow: 2px 4px 2px 1px transparentize(#555,.7)
    .card-detail
      top: 0
  
  .card-detail
    background: $contrast-color
    color: white
    +size(100%,100%)
    position: absolute
    top: 100%
    +makeFlex(100%,row,center,center)
    padding: 0 0 0 0
  .cover-links
    color: white
    display: block
    width: 100%
    height: 100%
    text-align: center
    padding-top: 20px
.shortcuts-container.data-card-container
  width: 100%

.wide-chart
  +size(92%,400px)
  background: transparent
  margin-bottom: 20px

.little-chart
  padding: 5px
#services-chart
  +size(100%,230px)

canvas
  +size(100%,100%)

.normal-chart
  height: 230px

.right-panel
  text-align: center
  background: #fff
  position: absolute
  right: 0
  color: #555
  height: 100%
  border-left: 1px solid #ddd
  box-shadow: -1px 2px 2px 2px transparentize(#555,.9)
  padding: 0 0 0 0
  overflow: hidden

  .amount
    color: $contrast-color
    font-weight: bolder
    font-size: 25px

  .today-data
    font-size: 20px
    margin: 0 0 40px 0

.card-text
  .fecha
    color: $color-error
  .autor
    color: $contrast-color
  p
    padding: 0 20%
    text-align: left
    color: $contrast-color
    b
      width: 150px;
      display: inline-block
    .right
      text-align: left;
      padding-left: 50px;
      color: #4E5962;
      width: 200px;
      display: inline-block;


@media (max-width: 991px)
  .right-panel,
  .wide-chart
    width: 100%
  .reports
    .shortcuts-container
      width: 100%
      display: flex
      justify-content: space-around
      align-items: center

@media print
  header,
  #app-cierre,
  button,
  a,
  a.link.btn,
  .__header,
  .__title,
  .data-card-container,
  .nav-tabs,
  .wide-chart,
  .small-data-card,
  .tab-pane + h4
    display: none
  .factura-body
    display: block
    margin: 0 0 0 0
  .fecha-recibo
    color: #06f !important
  .concepto
    background: whitesmoke !important
    border-top: 1px solid #aaaaaa
    border-bottom: 1px solid #aaaaaa
  .company-name h2
    color: #f20 !important
  .cuerpo
  .data-card-container