<template lang="pug">
  .row
    .col-md-4
      .form-group
        label(for="cient-sector") Descripcion
        input.form-control(v-model.trim="price.descripcion", tabindex="6")

    .col-md-8
      .form-group
        label(for="client-street") Cantidadad
        .input-group.normal-height
          input.form-control(type="number", v-model.number="price.monto" tabindex="6")
          span.input-group-btn
            button.btn.btn-secondary.icon(type="button", @click="save", :title="saveTitle"): i.material-icons {{ saveIcon }}
            button.btn.btn-danger.icon(type="button", @click="cancel", :title="clearTitle"): i.material-icons clear
</template>

<script>
  import * as Utils from '../../utils/Utils';

  const Price = {
    id_precio: '',
    id_servicio: '',
    descripcion: '',
    monto: '',
    activo: ''
  };

  export default {
    props: {
      originalPrice: {
        type: Object | Boolean,
        default: false
      },
      editMode: {
        type: Boolean
      }
    },
    data(){
      return {
        price: { ...Price }
      }
    },

    computed: {
      saveTitle() {
        return this.editMode ? 'Guardar Actualizacion' : 'Agregar Precio';
      },

      clearTitle() {
        return this.editMode ? 'Cancelar Edicion' : 'Limpiar Formulario';
      },

      saveIcon() {
        return this.editMode ? 'save' : 'add';
      }
    },

    watch: {
      originalPrice() {
        if (this.originalPrice) {
          this.price = this.originalPrice;
        }
      }
    },

    mounted() {
      if (this.originalPrice) {
        this.price = this.originalPrice;
      }
    },

    methods: {
      cancel() {
        this.$emit('cancel');
        this.clearForm();
      },

      save() {
        if (!this.price.descripcion) {
          displayMessage(`${MESSAGE_ERROR}El precio debe tener una descripcion ejemplo: Precio 2`);
        } else if (!this.price.monto || this.price.monto <= 0 ) {
          displayMessage(`${MESSAGE_ERROR} El monto debe ser mayor a 0`);
        } else {
          this.$emit('save', this.price);
          this.clearForm();
        }
      },

      clearForm() {
        this.price = { ...Price }
      }
    }
  }
</script>



