<template lang="pug">
    li.list-group-item(:key="price.id_precio")
      div(v-if="!editMode")
        | {{ price.descripcion }}<span class="money">RD$ {{ price.monto }}</span>
        i.material-icons.list-action.delete(:data-id="price.id_precio", @click.prevent.stop="remove", title="Eliminar Precio") delete
        i.material-icons.list-action(:data-id="price.id_precio", @click.prevent.stop="editMode = true", title="Editar precio") edit
      div(v-else)
        PriceForm(@save="update", :originalPrice="price", :editMode="true" ,@cancel="editMode = false")
</template>

<script>
  import PriceForm from './PriceForm.vue';

  export default {
    props: {
      price: {
        type: Object
      }
    },
    components: {
      PriceForm
    },
    data() {
      return {
        editMode: false
      }
    },
    computed: {
      starIcon() {
        return this.price.activo ? 'star' : 'star_border';
      }
    },
    methods: {
      update(price) {
        this.$emit('update', price);
        this.editMode = false;
      },

      remove() {
        this.$emit('remove', this.price.id_precio)
      },

      activate() {
        this.$emit('activate', this.price)
      }
    }
  }
</script>

