<template>
  <div class="row">
    <div class="col-md-6" v-if="prices.length" v-cloak>
      <div class="form-group">
        <label> Precio de Servicio </label>
        <select v-model="priceId" class="form-control" id="contract-price-id" @change="setPrice">
          <option :value="price.id_precio" v-for="price in prices" :key="price.id_precio">{{ price.descripcion }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Mensualidad</label>
        <input type="text" class="form-control" id="contract-client-payment" v-model="mensualidad" tabindex="0" disabled>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        serviceId: '',
        priceId: '',
        firstPrice: 0,
        prices: [],
        mensualidad: '',
      };
    },

    watch: {
      serviceId() {
        this.getPrices();
      }
    },

    mounted() {
      makeServiceCardClickable()
      bus.$on('service-clicked', service => {
        this.serviceId = service.serviceId;
        this.firstPrice = service.firstPrice;
        this.mensualidad = service.firstPrice;
      })
    },

    methods: {
      setPrice(price) {
        this.mensualidad = this.prices.find(price => price.id_precio == this.priceId).monto;
      },

      getPrices() {
        axios.get(`/prices/${this.serviceId}/service`)
          .then((res) => {
            const defaultPrice = {
              id_precio: 0,
              descripcion: 'por defecto',
              monto: this.firstPrice
            }

            this.prices = [defaultPrice]
            if (res.data && res.data.length) {
              this.prices.push(...res.data)
            }

            this.priceId = 0;
          });
      },

      activatePrice() {

      },
    }
  }
</script>
