<template lang="pug">
    form
      PriceForm(@save="addPrice")
      .row
        h4.col-md-12.col-lg-12 Precios
      .row
        .col-md-12
          ul.list-group.lista-precios
            //- PriceItem(:key="price.id_precio", v-for="price in prices", :price="price", @update="updatePrice", @remove="removePrice", @activate="activatePrice")
</template>

<script>
  import * as Utils from '../../utils/Utils';
  import PriceForm from './PriceForm.vue';
  import PriceItem from './PriceItem.vue';

  const prices = [];

  export default {
    components: {
      PriceForm,
      PriceItem
    },
    data() {
      return {
        serviceId: '',
        prices
      };
    },

    watch: {
      serviceId() {
        this.getPrices();
      }
    },

    mounted() {
      bus.$on('service-selected', serviceId =>  {
        serviceId = Array.isArray(serviceId) ? serviceId[0] : serviceId;
        this.serviceId = serviceId;
      })
    },

    methods: {
      addPrice(price) {
        price.id_servicio = this.serviceId;

        axios.post('/prices/', Utils.createFormData(price))
          .then((res) => {
            displayMessage('Precio agregado');
            this.getPrices();
          })
          .catch((err) => {
            displayMessage(`${MESSAGE_ERROR} ${err.response.data.message}`);
          });
      },

      getPrices() {
        axios.get(`/prices/${this.serviceId}/service`)
          .then((res) => {
            this.prices = res.data;
          });
      },

      activatePrice(price) {
        price.active = true;
        this.updatePrice(price);
      },

      updatePrice(price) {
        axios.post(`/prices/${price.id_precio}`, Utils.createFormData(price))
          .then((res) => {
            displayMessage('Precio Actualizado'),
            this.getPrices();
          })
          .catch((err) => {
             displayMessage(`${MESSAGE_ERROR} ${err.response.data.message}`);
          })
      },

      removePrice(priceId) {
        Utils.confirmDelete(null, 'Seguro de que desea eliminar este precio?')
          .then(() => {
            axios.delete(`/prices/${priceId}`)
              .then((res) => {
                displayMessage('precio removido correctamente');
                this.getPrices();
              })
            .catch((error) => {
                displayMessage(`${MESSAGE_ERROR} ${err.response.data.message}`);
            });
        });
      },
    }
  };
</script>

