<template lang="pug">
   .modal.fade(tabindex="-1", role="dialog", id="contract-payment-agreement-modal")
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
          h4.modal-title Acuerdo de pago
        .modal-body
          form(v-if="mode=='selectQuote'")
            p Hacer pago del 50% de la factura y distribuir el resto en cuotas?
            button.btn.save.success(@click.prevent="agreementFactor=2; mode='quote'") Si
            button.btn.danger(@click.prevent="agreementFactor=1; mode='quote'") No
          form(v-else ref='paymentModalForm')
            .row
              .col-md-3
                .form-group
                  label Fecha
                  el-date-picker(v-model="agreement.fecha"  type="date" placeholder="selecciona una fecha" :clearable="false")
              .col-md-3
                .form-group
                    label(for='cambio')
                      | Deuda del contrato original
                    input.form-control(:value="deudaTotal" readonly)
              .form-group.col-md-3
                label(for='cambio')
                  | Deuda Del Acuerdo
                input.form-control(:value="agreementTotal.monto" readonly)
              .form-group.col-md-3
                label(for='cambio')
                  | Diferencia
                input.form-control(:value="change" readonly)
            .row(v-if="firstPayment")
              .col-md-2
                p Primer Pago:

              .col-md-4
                .form-group
                  label(for='precio')
                    | cantidad
                    span.text-danger *
                  input.form-control.text-right(type="number" value="1" disabled)
              .col-md-4
                .form-group
                  label(for='precio')
                    | Monto por Cuota
                    span.text-danger *
                  input.form-control.text-right(v-model='firstPayment'  type="number")
            .row
              .col-md-4
                p Cuotas:
            .row(v-for='(payment, index) in agreement.montoCuotas', :key='payment.indexId || payment.id_pago')
              .col-md-2
                .form-group(v-if="payment.id_pago")
                  label(for='precio')
                    | {{ index + 1}}° cuota
                  input.form-control(:value="payment.fecha_limite" readonly)
                .form-group(v-else)
                  label
                    | cuota
              .col-md-4
                .form-group
                  label(for='precio' title="cantidad de cuotas de monto similares")
                    | cantidad
                    span.text-danger *
                  input.form-control.text-right(v-model='payment.cantidad' type="number" :disabled="payment.id_pago")
              .col-md-4
                .form-group
                  label(for='precio')
                    | Monto por Cuota
                    span.text-danger *
                  input.form-control.text-right(v-model='payment.amount'  type="number")
              .form-group.col-md-2.text-right
                label(for='')  Acciones
                button.btn.btn-danger(@click.prevent='removePayment(index)', title='eliminar forma de pago')
                  i.fa.fa-trash
            .row
              .form-group.col-md-2.col-md-offset-10.text-right
                button.btn.btn-success(@click.prevent='addPayment', title='agregar forma de pago')
                  i.fa.fa-plus
        .modal-footer()
          button(type="button", class="btn" data-dismiss="modal" v-if="mode!='quote'") Cancelar
          button(type="button", class="btn" @click.stop.prevent="mode='selectQuote'" v-if="mode=='quote'") Atras
          button(type="button", class="btn save", id="btn-save-client", @click.stop.prevent='save' v-if="mode=='quote'" :disabled="sending") Crear Acuerdo
</template>

<script>
  import swal from 'sweetalert2';
  import utils from './../../sharedComponents/utils';
  import InternetPlans from './../../sharedComponents/InternetPlans.vue';
  import PhoneInput from './../../sharedComponents/PhoneInput.vue';
  import ServiceSelector from './../../sharedComponents/ServiceSelector.vue';
  import ServicesService from './../../servicios/service/serviceService';
import { parse } from 'path';

  const servicesService = new ServicesService();

  export default {
    components: {
      InternetPlans,
      PhoneInput,
      ServiceSelector
    },
    props: {
      contract: {
        type: Object
      },
      store: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        modalId: '#contract-payment-agreement-modal',
        mode: 'selectQuote', // quote || selectQuote
        agreementFactor: 1,
        firstPayment: 0,
        sending: false,
        agreement: {
          montoCuotas:[],
          observaciones: '',
          fecha: moment().toDate(),
        },
        paymentAgreement: null
      }
    },

    watch: {
      id(id) {
        if (id) {
          this.getPaymentAgreement()
        }
      },
      agreementFactor(factor) {
        this.calculateFirstPayment(factor);
      }

    },

    mounted() {
      appBus.$on('contract::open-payment-agreement', (row) => {
        this.getContract(row.id);
        this.addPayment();
      });

      appBus.$on('agreements::edit-payment-agreement', (id) => {
        if (!this.loading) {
          this.mode = 'quote';
          this.getPaymentAgreement(id)
        } else {
          this.$toasted.info("ya hay un acuerdo cargando")
        }
      });

      $(this.modalId).on('hide.bs.modal', () => {
        this.$emit('dimiss');
        this.store.contractEmpty();
        this.clearPayments();
      });
    },

    computed: {
      	change() {
              const change = parseFloat(this.agreementTotal.monto || 0) - parseFloat(this.deudaTotal || 0);
              this.agreement.change = change;
              return change.toFixed(2)
        },

        agreementTotal() {
            const total = this.agreement.montoCuotas.reduce((total, payment) => {
                if (payment.amount > 0 || payment.id_pago) {
                  total.cuotas += parseFloat(payment.cantidad || 0);
                }
                total.monto += (payment.amount * payment.cantidad);
                return total;
            }, {monto: 0, cuotas: 0})

            total.monto += parseFloat(this.firstPayment || 0);
            return total
        },

        deudaTotal() {
          let deuda = 0;
          if (this.contract && this.contract.monto_total) {
            deuda = (parseFloat(this.contract.monto_total || 0) - parseFloat(this.contract.monto_pagado || 0));
          } else if (this.paymentAgreement) {
            deuda = parseFloat(this.paymentAgreement.deuda_contrato || 0)
          }

          this.calculateFirstPayment(deuda);
          return deuda;
        }
    },

    methods: {
      emitChange() {
        this.closeModal();
        appBus.$emit('agreements::closed-payment-agreement')
        this.$emit('saved');
      },

      calculateFirstPayment(deuda) {
          if (this.agreementFactor > 1) {
            this.firstPayment = parseFloat(deuda || this.deudaTotal) / this.agreementFactor;
          } else {
            this.firstPayment = 0;
          }
      },

      save() {
        this.addExtra();
      },

      closeModal() {
        $("#contract-payment-agreement-modal").modal('hide')
      },

      getContract(contractId) {
        if (contractId) {
          this.$http.get(`/contracts/index/${contractId}?relationships=cliente,empleado`)
            .then((res) => {
              this.store.setContract(res.data.data);
              $(this.modalId).modal();
            })
            .catch((err) => {
              this.$toasted.error(err);
            });
        } else {
          this.$toasted.info('seleccione un contrato primero');
        }
      },

      getPaymentAgreement(id) {
        if (id) {
          this.loading = true;
          this.$http.get(`/payment-agreements/${id}?relationships=cliente,empleado,payments`)
            .then((res) => {
              $(this.modalId).modal();
              this.paymentAgreement = res.data.data;
              this.agreement.fecha = moment(this.paymentAgreement.fecha).toDate();
              this.agreement.eliminados = [];
              this.setPaymentData(res.data.data);
              this.loading = false;
              appBus.$emit('agreements::loaded-payment-agreement');
            })
            .catch((err) => {
              this.$toasted.error(err);
            });
        } else {
          this.$toasted.info('seleccione un contrato primero');
        }
      },

      listen(name, row) {
        this.selectedContract = row;
      },

      addExtra() {
        if (this.sending) {
          return;
        }

        const { contract, extra } = this;
        let form = {
          id_contrato: this.contract.id_contrato,
          id_cliente: this.contract.id_cliente,
          fecha: moment(this.agreement.fecha).format('YYYY-MM-DD'),
          montoCuotas: this.agreement.montoCuotas,
          cuotas: this.agreementTotal.cuotas,
          deuda_contrato: this.deudaTotal,
          observaciones: this.agreement.observaciones,
          firstPayment: this.firstPayment
        };

        if (!form.id_contrato) {
          form = {
            id_contrato: this.paymentAgreement.id_contrato,
            montoCuotas: this.agreement.montoCuotas,
            fecha: moment(this.agreement.fecha).format('YYYY-MM-DD'),
            cuotas: this.agreementTotal.cuotas,
            deuda_contrato: this.deudaTotal,
            observaciones: this.agreement.observaciones,
            eliminados: this.agreement.eliminados,
          };
        }

        const empty = utils.isEmpty([form.id_contrato]);
        if (!empty && form.cuotas > 0) {
          const method = this.paymentAgreement ? 'patch' : 'post';
          const url = this.paymentAgreement ? `/payment-agreements/${this.paymentAgreement.id_acuerdo_pago}` : '/payment-agreements';
          this.sending = true;

          this.$http[method](url, this.getDataForm(form))
            .then((res) => {
              this.showMessage(res.data.message);
              this.emitChange();
              Contracts.getAll();
              this.sending = false;
            }).catch(() => {
              this.sending = false;
            });
        } else {
          this.$toasted.info('asegurate de llenar las cuotas');
        }
      },

      addPayment() {
        const len = this.agreement.montoCuotas.length;

        if (!len || this.agreement.montoCuotas[len - 1].amount > 0) {
          this.agreement.montoCuotas.push({
              indexId:  Math.random().toString(16).replace(".", ''),
              cantidad:  1,
              amount : 0.00
          })
        }
      },

      removePayment(index) {
          if (this.agreement.montoCuotas.length > 1) {
              if (this.agreement.montoCuotas[index].id_pago) {
                this.agreement.eliminados.push(this.agreement.montoCuotas[index].id_pago);
              }
              this.agreement.montoCuotas.splice(index, 1);
          }
      },

      clearPayments() {
        this.agreement.montoCuotas = [];
        this.paymentAgreement = null;
        this.agreement.eliminados = null
        this.agreementFactor = 1;
        this.mode = 'selectQuote';
      },

      setPaymentData(paymentAgreement) {
        paymentAgreement.payments.forEach(payment => {
          const cargos = JSON.parse(payment.servicios_adicionales);
          if(cargos['cargo::']) {
            payment.amount = cargos['cargo::'].precio;
            payment.cantidad = 1;

            this.agreement.montoCuotas.push(payment)
          }
        })
      }

    }
  };
</script>

