<template lang="pug">
   .modal.fade(tabindex="-1", role="dialog", id="contract-extra-modal")
    .modal-dialog.modal-md(role="document")
      .modal-content
        .modal-header
          button(type="button", class="close", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
          h4.modal-title Servicios Extras
        .modal-body
          form
            .row
              .col-md-12
                .form-group
                  label(for="client-job") Meses de Extension
                  input(type="number", class="form-control", id="client-salary", value="0", v-model="extension.duration")

        .modal-footer
          button(type="button", class="btn", data-dismiss="modal") Cancelar
          button(type="button", class="btn save", id="btn-save-client", @click.stop.prevent='save') Extender
</template>

<script>
  import swal from 'sweetalert2';
  import utils from './../../sharedComponents/utils';
  import InternetPlans from './../../sharedComponents/InternetPlans.vue';
  import PhoneInput from './../../sharedComponents/PhoneInput.vue';
  import ServiceSelector from './../../sharedComponents/ServiceSelector.vue';
  import ServicesService from './../../servicios/service/serviceService';

  const servicesService = new ServicesService();

  export default {
    components: {
      InternetPlans,
      PhoneInput,
      ServiceSelector
    },
    props: {
      store: {
        type: Object
      }
    },
    data() {
      return {
        mode: null,
        modalId: "#contract-extra-modal",
        upgradeData: {
          serviceId: null,
          price: 0.00
        },
        contract: null,
        extra: {
          serviceId: null,
          price: 0.00,
          paymentMode: ''
        },
        extension: {
          duration: 0
        },
        ensuranceName: '',
        paymentModes: [
          { id: 0, text: '-- seleccione --' },
          { id: 1, text: 'Cargar al proximo pago' },
          { id: 2, text: 'Factura aparte' },
          { id: 3, text: 'Mensualidad Fija - seguro' }
        ]
      };
    },


    mounted() {
      $('#contract-extra-modal').on('hide.bs.modal', () => {
        this.$emit('dimiss');
      });

      appBus.$on('details::open-extends-modal', (contract) => {
        
        this.contract = contract;
          $(this.modalId).modal();
      });
    },
    watch: {
      contract() {
        this.getEnsurance();
      }
    },
    methods: {
      emitChange() {
        this.$emit('save');
      },

      setMode(mode) {
        this.mode = mode;
      },

      save() {
            this.extend();
      },

      upgrade() {
        const { contract, upgradeData } = this;
        const form = {
          id_contrato: contract.id_contrato,
          id_servicio: upgradeData.serviceId,
          cuota: upgradeData.price
        };

        const empty = utils.isEmpty(form);
        if (!empty) {
          this.$http.post('contract/upgrade', this.getDataForm(form))
            .then((res) => {
              this.showMessage(res.data.message);
              this.emitChange();
            });
        } else {
          this.$toasted.info('asegurate de llenar todos los datos y seleccionar el servicio');
        }
      },

      addExtra() {
        const { contract, extra } = this;
        const form = {
          id_contrato: contract.id_contrato,
          id_servicio: extra.serviceId,
          costo_servicio: extra.price,
          nombre_equipo: contract.nombre_equipo,
          mac_equipo: contract.mac_equipo,
          router: contract.router,
          mac_router: contract.mac_router,
          modo_pago: extra.paymentMode
        };

        const empty = utils.isEmpty([form.id_servicio, form.modo_pago]);
        if (!empty) {
          this.$http.post('contract/add_extra', this.getDataForm(form))
            .then((res) => {
              if (res.data.message.type === 'success') {
                if (extra.paymentMode === 3) {
                  this.contract.extras_fijos = extra.serviceId;
                  this.getEnsurance();
                }
                this.emptyExtra();
              }
              this.showMessage(res.data.message);
              this.emitChange();
            });
        } else {
          this.$toasted.info('asegurate de llenar todos los datos y seleccionar el servicio');
        }
      },

      extend() {
        const { contract, extension } = this;
        const form = {
          id_contrato: contract.id_contrato,
          duracion: extension.duration,
        };

        const empty = utils.isEmpty(form);
        if (!empty) {
          this.$http.post('contract/extend', this.getDataForm(form))
            .then((res) => {
              this.showMessage(res.data.message);
              this.emitChange();
              Payments.getAll();
            });
        } else {
          this.$toasted.info('asegurate de llenar todos los datos y seleccionar el servicio');
        }
      },

      selectService(item) {
        this.upgradeData.serviceId = item.id_servicio;
        this.upgradeData.price = item.mensualidad;
      },

      deleteExtra() {
        const self = this;
        function sendDelete() {
          self.$http.post('contract/delete_extra', self.getDataForm({ id_contrato: self.contract.id_contrato }))
            .then((res) => {
              self.showMessage(res.data.message);
              if (res.data.message.type === 'success') {
                self.contract.extras_fijos = null;
                self.getEnsurance();
              }
              self.emitChange();
            })
            .catch((error) => {
              self.$toasted.error(error.toString());
            });
        }

        if (this.contract.extras_fijos) {
          swal({
            title: 'Está Seguro?',
            text: 'Seguro que desea eliminar el seguro a este contrato?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar'
          })
            .then(() => {
              sendDelete();
              self.contract.ensurance = '';
            });
        } else {
          this.$toasted.info('este cliente no tiene seguro');
        }
      },

      setExtraPrice(item) {
        this.extra.price = item.mensualidad;
        this.extra.serviceId = item.id_servicio;
      },

      emptyExtra() {
        this.extra = {
          serviceId: null,
          price: 0.00,
          paymentMode: ''
        };
      },

      getEnsurance() {
        if (this.contract.extras_fijos) {
          servicesService.getService(this.contract.extras_fijos).then((service) => {
            this.ensuranceName = `${service.nombre} - RD$ ${service.mensualidad}`;
          });
        } else {
          this.ensuranceName = '';
        }
      },

      emptyExtends() {
        this.extension.duration = 0;
      },

      close() {
          $(this.modalId).modal('hide');
      }
    }
  };
</script>

