<template>
  <div class="bootstrap-table">
    <el-table
      :data="filteredTableData"
      style="width: 100%">
      <el-table-column
        type="index"
        :index="indexMethod">
      </el-table-column>
      <el-table-column
        prop="fecha"
        label="Fecha"
        width="180">
      </el-table-column>
      <el-table-column
        prop="cliente"
        label="Nombre">
        <template slot-scope="{row}">
          <span style="margin-left: 10px">{{ row.cliente.nombres }} {{row.cliente.apellidos}} </span>
      </template>
      </el-table-column>
      <el-table-column
        prop="cuotas"
        label="Cuotas">
      </el-table-column>
    <el-table-column
      label="Operaciones">
      <template slot-scope="scope">
        <el-button
          size="mini"
          :disabled="isDisabledAction"
          :icon="actionsLoading.edit ? 'el-icon-loading' : ''"
          @click="handleEdit(scope.$index, scope.row)">Editar</el-button>
        <el-button
          size="mini"
          type="primary"
          :disabled="isDisabledAction"
          @click="handleShow(scope.$index, scope.row)">Ver Pagos </el-button>
        <a
          :href="`/api/v2/payment-agreements/${scope.row.id_acuerdo_pago}/report?relationships=cliente,payments,empleado,contratview`"
          target="_blank"
          type="danger"> <i class="material-icons">description</i>
          </a>
      </template>
    </el-table-column>
  </el-table>
  </div>
</template>

<script>
  import { uniqBy, cloneDeep } from "lodash-es";
  import Fuse from 'fuse.js';

  export default {
    props: {
      cols: {
        type: Array,
        required: true
      },
      idField: {
        type: String,
        default: "id"
      },
      formatData: {
        type: Function,
        default() {
          return data => data;
        }
      },
      vuetableConfig: {
        type: Object,
        default() {
          return {
            apiMode: false,
            apiUrl: "",
            appendParams: {}
          };
        }
      },
      parentId: String,
      toolbar: String,
      options: {
        type: Object,
        default() {
          return {};
        }
      },
      search: {
        type: Object,
        required: true,
        default() {
          return {
            text: '',
            firstDate: '',
            lastDate: ''
          }
        }
      }
    },
    components: {
      // AddCustomFiltersModal
    },
    data() {
      return {
        large: "large",
        currentPage: 1,
        filter: null,
        leadOwners: {},
        leadOwnerVerification: true,
        loading: true,
        pageSize: 50,
        paginationOptions: {
          offset: 2,
          previousText: "<",
          nextText: ">",
          alwaysShowPrevNext: true
        },
        showFilters: false,
        query: "",
        filterSearch: "",
        sortBy: "id",
        sortOrder: "|DESC",
        total: 0,
        records: {
          firstname: " ",
          lastname: " ",
          email: " ",
          phone: " ",
          address: " "
        },
        tableData: [],
        searchOptions: {
          text: "",
          filters: []
        },
        isDisabledAction: false,
        selectedFilters: [],
        actionsLoading: {
          edit: false,
          delete: false
        },
        fuseOptions: {
        shouldSort: true,
        threshold: 0.6,
        location: 0,
        distance: 100,
        maxPatternLength: 32,
        minMatchCharLength: 1,
        keys: [
          "fecha",
          "cliente.nombres",
          "cliente.apellidos",
          "cliente.id_cliente",
          "id_acuerdo_pago"
      
        ]
        },
        $fuse: null
      };
    },
    watch: {
      tableData: {
        handler(tableData) {
          this.emitData(tableData);
        },
        deep: true
      },
      "options.endpoint"() {
        this.getList();
      }
    },
    computed: {
      columnsActions() {
        const columns = this.columns;
        if (this.options.showActions) {
          columns.push("actions");
        }

        return columns;
      },

      columns() {
        return this.cols
          .filter(col => !col.hide)
          .map(col => {
            if (col.field) {
              col.name = col.field;
            }
            return col;
          });
      },

      columnsClasses() {
        const classes = {};
        this.columns.forEach(col => {
          if (col.row_class) {
            classes[col.name] = col.row_class;
          }
        });

        return classes;
      },

      filterableFields() {
        return this.columns
          .filter(field => field.filterable)
          .map(field => {
            const option = {
              text: field.title || field.name,
              value: field.name
            };

            return option;
          });
      },
      searchableFields() {
        return this.columns
          .filter(field => field.searchable)
          .map(field => field.name);
      },
      hasFilters() {
        return (
          this.selectedFilters &&
          this.selectedFilters[0] &&
          this.selectedFilters[0].text
        );
      },
      filteredTableData() {
        // return this.tableData.filter(data => {
          if (!this.search || !this.search.text) {
            return this.tableData
          } else {
            if (!this.$fuse) {
              this.$fuse = new Fuse(this.tableData, this.fuseOptions);
            }
            return this.$fuse.search(this.search.text);
          }
        //  })
       },
      },
    created() {
      this.initTable();
    },

    mounted() {
      setTimeout(() => {
        this.getFilters();
      });
    },

    methods: {
      initTable() {
        this.getList();
        this.formatOptions();
      },

      emitData(tableData) {
        setTimeout(() => {
          const data = tableData || this.$refs.datatable.allFilteredData;
          this.$emit("tableDataChanged", data);
        });
      },

      formatOptions() {
        const options = cloneDeep(this.options);
        options.highlightMatches = true;
        const customFilters = [];
        this.filterableFields.forEach(col => {
          customFilters.push({
            name: col.value,
            callback: function(row, query) {
              if (Array.isArray(query)) {
                return (
                  moment(row[col.value]).isSameOrAfter(query[0]) &&
                  moment(row[col.value]).isSameOrBefore(query[1])
                );
              } else {
                const q = new RegExp(query, "i");
                return row[col.value].match(q);
              }
            }
          });
        });

        options.customFilters = customFilters;
        options.headings = this.formatHeaders();
        options.texts = this.defaultTexts();
        options.skin = "table-striped table-hover table";
        options.columnsClasses = this.columnsClasses;
        options.sortIcon = {
          base: "glyphicon",
          up: "glyphicon-chevron-up",
          down: "glyphicon-chevron-down",
          is: ""
        };
        
        this.$emit("formatOptions", options);
      },

      indexMethod(index) {
        return index+1;
      },

      defaultTexts() {
        return {
          count:
            "Mostrando {from} - {to} de {count} registros|{count} registros|Un registro",
          first: "Primera",
          last: "Ultima",
          filter: "Buscar: ",
          filterPlaceholder: "Escriba para buscar",
          limit: "Mostrar:",
          page: "Pagina:",
          noResults: "No se encontraron datos",
          filterBy: "Filtraando por {column}",
          loading: "cargando...",
          defaultOption: "Selecciona {column}",
          columns: "Columnas"
        };
      },

      formatHeaders() {
        const headers = {};
        this.columns.forEach(col => {
          headers[col.name] = col.title || col.name;
        });
        return headers;
      },
      //

      getList() {
        let url = this.options.endpoint;

        axios(url).then(({ data }) => {
          this.tableData = this.formatData(data);
          this.loading = false;
          this.isDisabledAction = false;
        });
      },

      refresh() {
        this.getList();
      },

      searchByFilter(filters) {
        if (filters.length) {
          this.clearFilters();
          filters.forEach(filter => {
            EventBus.$emit(
              `vue-tables.filter::${filter.field}`,
              filter.value || ""
            );
          });

          this.selectedFilters = filters;
          this.searchOptions.filters = filters
            .map(filter => filter.text)
            .join(", ");

          this.emitData();
        }
      },

      getOptionsFor(field) {
        return uniqBy(this.tableData, field).map(col => col[field]);
      },

      setFilter(filter) {
        this.filter = filter ? filter.value : filter;

        this.clearFilters();
        if (filter) {
          EventBus.$emit(
            `vue-tables.filter::${this.filter}`,
            this.filterSearch || ""
          );
        }
        this.emitData();
      },

      addFilter() {},

      clearFilters() {
        this.filterSearch = "";
        for (const key in this.$refs.datatable.customQueries) {
          if (this.$refs.datatable.customQueries.hasOwnProperty(key)) {
            this.$refs.datatable.customQueries[key] = "";
          }
        }
      },

      saveCustomFilters() {
        this.showFilters = false;
        this.$refs.customFilter.save(true);
      },

      getFilters(done) {
        let filters = localStorage.getItem("esp-filters");

        if (filters) {
          filters = JSON.parse(filters);

          filters = filters.map(filter => {
            const filterClone = _.clone(filter);
            filterClone.field = filter.field.value;
            filterClone.text = filter.field.text;
            delete filterClone.indexId;
            return filterClone;
          });

          this.searchByFilter(filters);
        }

        if (done) {
          done();
        }
      },

      getHTMLText(row, cell) {
        const fieldValue = row[cell.name];

        if (cell.customDisplay) {
          return cell.customDisplay(row, fieldValue, cell);
        } else if (cell.status) {
          let status = cell.statusCodes[row[cell.name]];
          if (!status) {
            status = {
              label: "N/D",
              class: "primary"
            };
          }
          return `<label class="label label-${status.class}"> ${
            status.label
          } </label>`;
        } else if (cell.money) {
          return this.moneyFormat(row[cell.name]);
        } else if (cell.link) {
          return `<a href="${cell.link.root}/${row.id}">${row[cell.name]}</a>`;
        } else {
          return row[cell.name];
        }
      },

      moneyFormat(val) {
        if (typeof val == "string") {
          val = val.replace(/,|[A-Za-z]/g, "");
        }
        val = isNaN(Number(val)) ? 0 : val;
        return d3Format(",.".concat(2, "f"))(this.round(val));
      },

      round(val) {
        return Math.round(val * 100) / 100;
      },

      handleDelete(index, row) {
        this.$emit('deleted', row.id_acuerdo_pago);
      },

      handleEdit(index, row) {
        this.actionsLoading.edit = true;
        this.$emit('edited', row.id_acuerdo_pago);
      },

      handleShow(index, row) {
        window.location.href = `/process/details/${row.id_cliente}/pagos`;
      },

      disableActions() {
        this.isDisabledAction = true;
      },

      editLoaded() {
        this.actionsLoading.edit = false;
      },

      hasSearch(data, search) {
        const results = [];
        for (const rowName in data) {
          if (data.hasOwnProperty(rowName)) {
            const row = data[rowName];
            switch (typeof row) {
              case 'string':
                results.push(row.toLowerCase().includes(search.toLowerCase()))
                break
              case 'number':
                results.push(row.toString().includes(search.toLowerCase()))
                break
              case 'object':
                results.push(this.hasSearch(row, search));
              default:
                results.push(false);
            }
            }
          }
          return results.some((row) => row);
        } 
    }
  };
</script>

<style lang="sass">
  .browse-list-filters 
    display: flex
    align-items: center

  .form-group.form-inline.pull-right.VueTables__limit 
    display: flex
  

  .VueTables__limit-field 
    align-items: center
    display: flex
    margin-left: 10pxs
  

  .VueTables__highlight b 
    background: yellow

</style>