*
  margin: 0
  padding: 0
  box-sizing: border-box
#app-version2
  body
    background: #fdfdfd
    color: $primary-color
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    -moz-font-feature-settings: "liga" on

  // header
  header
    height: 70px
    display: flex
    justify-content: flex-end
    padding: 0 50px
    flex-direction: column
    margin-bottom: 20px
    width: 100%

  .brand
    +makeFlex(20%,row,center,center)


    h1,h2,h3,h4,h5,h6
      margin: 0
      width: 50%
      color: white

  .user-div
    width: 100%
    display: flex
    flex-wrap: nowrap
    justify-content: flex-end
    align-items: center
    text-align: right
    padding: 0
    align-self: flex-end
    height: 100%


  .header-low
    display: flex
    list-style: none
    justify-content: flex-start
    width: 100%
    height: 100%

  nav
    display: flex
    list-style: none
    justify-content: flex-end
    align-items: flex-end
    width: 100%
    margin: 0 0 0 5%
    height: 100%

  .user-controls
    width: 40px
    width: fit-content
    text-align: right
    margin: 0 0
    .navButton
      +size(100%,100%)
      display: flex
      align-items: center

  .glyphicon
    padding: 0 10px

  .user-name
    margin-right: 10px

  .navButton
    +size(100px, 100%)
    position: relative

    a
      +makeFlex(100%, row, center, center)
      height: 100%
      font-size: 18px

      &:hover
        text-decoration: none

  .submenu
    position: absolute
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: max-content
    width: 170px
    visibility: hidden
    padding: 0 0 0 0
    z-index: 100
    transition: all ease .5s
    .navButton
      width: 100%
      list-style: none
      height: 48px
      &:last-child
        border-radius: 0 0 4px 4px
      &:hover
        visibility: visible

  .navButton:hover
    .submenu
      visibility: visible
      a
        color: $light-color

  .section-title
    margin-top: 0
    padding-top: 0
    text-align: center

  .badge
    position: absolute
    left: 0
    top: 0
    background: $tomato

  //  end header
  .screen
    margin-top: -20px
    min-height: 100%
    position: relative
    overflow-x: hidden
    overflow-y: auto

  .searcher-container
    +size(95%,42px)
    margin: 22px 2.5% 30px 2.5%
    position: relative
    display: flex
    overflow: hidden

    .input-group
      input

    .btn
      height: 100%
      width: max-content
      +makeFlex(max-content,row,center,center)

  .main-toolbar
    height: max-content

    .pull-right
      margin-left: auto
    .input-group-addon
      border: 0
    .btn
      height: 42px
      box-shadow: 3px 4px #eee
      border: 0
      border-radius: 0
      margin: 0 2px

      &:last-child
        margin-right: 0

    .input-group
      +makeFlex(100%, row, flex-start, center)
      position: static
      [class*=addon]
        width: 40px
        background: white

  .fixed-table-toolbar
    .main-toolbar
      .btn
        height: 44px


  .fixed-table-toolbar .input-group.search,
  .main-toolbar .input-group-search
    position: static
    margin-top: 0
    line-height: 0

  .toolbar-title
    +makeFlex(200px,row,flex-start,center)

  .searcher
    +size(100%,100%)
    padding: 2px 15px
    transition: all ease .3s
    font-size: 20px
    color: #555
    border-left: 0

    .btn
      margin: 0 5px
      height: 42px

  .input-group.search,
  .input-group.search-item
    width: 70%
    box-shadow: 3px 4px #eee
    border: 1px solid #ccc
    overflow: hidden
    margin: 0 2px
    .focus
      box-shadow: 3px 4px lighten($contrast-color, 10%)
      .material-icons
        color: $contrast-color
    .material-icons
      color: #555

    input,
    .form-control,
    select
      height: 42px
      color: #555
      border: 0
      &:focus
        outline: 0
        border: 0
        color: #555
      &:hover
        border: 0
        outline: 0
    .addon
      border: 0


  .busquedas,.table,
  .table-container,
  .subsection-title,
  .bootstrap-table
    +size(95%,38px)
    margin: 20px 2.5% 0 2.5%
    small
      color: $contrast-color

    &.t-users
      width: 100%
  .bootstrap-table
    height: fit-content

  .detail-panel .bootstrap-table
    width: 100%
    margin: 0 0 0 0
    margin-top: 20px
  .table
    margin-top: 2px
    border-radius: 3px 4px 0 0

  .right
    text-align: right

  input,
  select
    &.form-control
    height: 42px
    border-radius: 2px
    font:
      size: 18px
      weight: bolder
    color: #888

  [type="checkbox"]
    width: 28px
    height: 28px

  .company-details
    margin: 10px
    padding: 25px 50px
    width: 100%
    position: absolute
    top: 5px
    left: -110%
    height: 80vh

  .brand__menu
      display: none

  form
    margin-top: 20px
  .subsection-title
    margin-bottom: 30px
    margin-top: -10px
    display: none

  iframe
    visibility: hidden
    height: 3px
  .mini-card.total
    text-align: right

  [v-cloak]
    display: none

  @media (max-width: 1100px)
    header
      padding: 0 20px
      .brand
        width: fit-content
        span
          content: 'P'
          display: none
        &:after
          content: ' P'
          color: $contrast-color
          font-size: 26px
          margin-left: 2px
      .top-nav
        margin-left: 20px

  @media (max-width: 768px)
    header
      padding: 0 20px
      height: 60px

    .user-div
      padding-right: 0
    .top-nav
      display: none
    .brand
      justify-content: flex-start
    .brand__company-logo
      +size(90%,90%)
    .brand__menu
      display: inline
