<template lang="pug">
  .screen.clients.row
    .left-navigation.col-md-2
      .aside-nav-container
        .left-navigation__header
          h4.left-navigation__header-text {{ title }}
        ul.aside-nav

    .main-content.col-md-10
      #contract-table-container
        .searcher-container.main-toolbar#contract-toolbar
          .input-group.search
            .input-group-addon: i.material-icons search
            input.form-control.searcher(type="text" placeholder="Buscar contrato" v-model="searchOptions.text")
          .pull-right
            a.btn.icon.print-table(href="#" @click.prevent=""): i.material-icons print
        #people.server-table
        my-vue-table#payment-agreements-table(ref="MyVueTable" 
          :cols='fields' 
          :options='vueTableOptions' 
          :format-data='formatData' 
          id-field='id'
          :search="searchOptions"
          @tableDataChanged='fillTableData' 
          @formatOptions='formatOptions'
          @deleted="onDeleteItem"
          @edited="onEditItem")
          template(slot='out-filter')
            .browse-list-filters.d-flex.align-items-center.noPrint
              span.mr-2
                strong Fecha Inicial
              -// el-date-picker(v-model='fechas.inicial' type='date' placeholder='Pick a day')
            .browse-list-filters.d-flex.align-items-center.noPrint
              span.mr-2
                strong Fecha Final
              -// el-date-picker(v-model='fechas.final' type='date' placeholder='Pick a day')
</template>

<script>
  import swal from 'sweetalert2';
  import utils from './../sharedComponents/utils';
  import ContractStore from './store/ContractStore';
  import DataTable from './../sharedComponents/DataTable.vue';
  import MyVueTable from '../sharedComponents/myVueTable';
  import fields from "./store/fields";


  export default {
    name: 'ContractSection',
    components: {
      DataTable,
      MyVueTable
    },

    mounted() {
      this.search();
      appBus.$on('agreements::closed-payment-agreement', this.$refs.MyVueTable.refresh)
      appBus.$on('agreements::loaded-payment-agreement', () => {
        this.$refs.MyVueTable.editLoaded()
        console.log("vaina cargada")
      })
      utils.spyLeftNavigation();
    },

    data() {
      const store = new ContractStore();
      return {
        store,
        title: 'Acuerdos de Pago',
        parentId: '#contract-table-container',
        toolbar: '#contract-toolbar',
        contracts: '',
        filter: 'activo',
        tableOptions: {
          pageSize: 200,
          pageList: [50, 100, 200, 500, 1000],
          states: ['activo', 'saldado', 'suspendido', 'cancelado'],
          stateField: 'estado'
        },
        columns: ['fecha', 'cliente', 'deuda_contrato', 'cuotas', 'estado', 'contrato'],
        toptions: {
            // see the options API
        },
        selectedContract: null,
        options: [
          { key: 'activo', text: 'Activos' },
          { key: 'saldado', text: 'Saldados' },
          { key: 'suspendido', text: 'Suspendidos' },
          { key: 'cancelado', text: 'Cancelados' },
        ],
        fields,
				vueTableOptions: {
					perPage: 10,
					endpoint: "/api/v2/payment-agreements?relationships=contrato,cliente",
          perPageValues: [5, 10, 50, 100, 200, 500, 1000],
          customFilters: false
        },
        searchOptions: {
          text: '',
          fechas: {
            inicial: moment()
              .dayOfYear(1)
              .toDate(),
            final: moment()
              .endOf("year")
              .toDate()
          },
        },
				tableData: false,
      };
    },

    computed: {
      cols() {
        return this.store.columns;
      },
    },

    watch: {
			'searchOptions.fechas': {
				handler() {
					this.search();
				},
				deep: true
			}
		},

    methods: {
      getContract(modal) {
        const contract = this.selectedContract;
        if (contract) {
          this.$http.post('contract/get_contract', this.getDataForm({ id: contract.id }))
            .then((res) => {
              this.store.setContract(res.data.contract);
              this.store.setContractMode('update');
              $(modal).modal();
            })
            .catch((err) => {
              this.$toasted.error(err);
            });
        } else {
          this.$toasted.info('seleccione un contrato primero');
        }
      },

      listen(name, row) {
        this.selectedContract = row;
      },

      callModal(modalMiddleName) {
        const contract = this.selectedContract;
        if (contract) {
          $(`#contract-${modalMiddleName}-modal`).modal();
        } else {
          this.$toasted.info('seleccione un contrato primero');
        }
      },

      sendTo(endpoint, param = '') {
        const contract = this.selectedContract;
        if (contract) {
          this.$router.push(`/${endpoint}/${contract.id_cliente}/${param}`);
        } else {
          this.$toasted.info('seleccione un contrato primero');
        }
      },


      formatOptions(options) {
				this.$set((this.tableOptions = options));
      },
      
			fillTableData(tableData) {
				this.tableData = tableData;
      },
      
			formatData(data) {
				return data.data.map(row => {
					row["group_name"] = row["group_name"] || "";
					row.mount_paid_attorney = Number(row.paid_attorney)
						? row.mount_paid_attorney
						: row.paid_attorney;
					return row;
				});
			},

			search() {
				this.addDates();
			},

			addDates() {
				if (this.searchOptions.fechas.inicial && this.searchOptions.fechas.final) {
					const fechaInicial = moment(this.searchOptions.fechas.inicial).format("YYYY-MM-DD");
					const fechaFinal = moment(this.searchOptions.fechas.final).format("YYYY-MM-DD");
					this.tableOptions.endpoint += `start_date=${fechaInicial}&end_date=${fechaFinal}`;
				}
			},
      
      onDeleteItem(id) {
        this.deleteConfirmation('Está Seguro?', 'Seguro de que quiere eliminar este acuerdo de pago?')
          .then(() => {
              this.sendDelete(id);
          });
      },

      onEditItem(id) {        
        appBus.$emit('agreements::edit-payment-agreement', id);
      },

      sendDelete(id) {
        this.$refs.MyVueTable.disableActions();
        if (!id) {
          this.$toasted.info("no hay id seleccionado")
          return
        }

        this.$http.delete(`/payment-agreements/${id}`)
          .then((res) => {
            this.showMessage(res.data.message);
            this.$refs.MyVueTable.refresh();
          })
          .catch((err) => {
            this.$toasted.error(err);
          });
      },
    }
  };
</script>

<style lang="sass">

.server-table tbody 
  display: table-row-group !important
</style>


