<template>
    <div>
    <div novalidate v-if="aditionalServices.length">
        <div class="row">
          <h4 class="col-md-11"> Este contrato presenta ({{aditionalServices.length}}) Servicios Adicionales </h4>
          <div class="col-md-1 mb-1">
            <button class="btn btn-gray lg" data-toggle="collapse" data-target="#collapseExample" title="ver servicios adicionales" @click="isExpanded = !isExpanded">
              <i class="material-icons">{{icon}}</i>
            </button>
          </div>
        </div>
        <br>
        <div class="row collapse" id="collapseExample">
          <div
            class="col-md-6"
            v-for="service in aditionalServices"
            :key="`extra-item-${service.id_servicio_adicional}`">
            <extra-service-item
              :service="service"
              @remove="removeAditional"/>
          </div>
        </div>
      </div>

      <div v-if="unpaidPaymentsCount !== false && unpaidPaymentsCount <= 1">
         <!-- <button @click="extendContract"> Extender contrato </button> -->
      </div>
    </div>

</template>

<script>

  import * as Utils from '../../utils/Utils';
  import ExtraServiceItem from './ExtraServiceItem';

  export default {
    components: {
      ExtraServiceItem
    },

    data() {
      return {
        aditionalServices: [],
        contract: null,
        unpaidPaymentsCount: false,
        contractId: null,
        isExpanded: false
      }
    },

    computed: {
      icon() {
        return this.isExpanded ? 'remove' : 'add'
      }
    },

    watch: {
      contractId() {
        this.fetchAditionals();
        this.fetchContract();
        this.fetchUnpaidPaymentCount();
      }
    },

    mounted() {
      this.fetchAditionals();
      this.fetchContract()

      bus.$on('fetch-aditional-services', contractId =>  {
        contractId = Array.isArray(contractId) ? contractId[0] : contractId;
        this.contractId = contractId;
      })

      bus.$on('aditional-service-added', this.fetchAditionals);
      bus.$on('fetch-unpaid-payments-count', this.fetchUnpaidPaymentCount);
    },

    methods: {
      fetchAditionals() {
        if (this.contractId) {
          axios.get(`/aditional/get/${this.contractId}`)
          .then(res => {
            this.aditionalServices = res.data;
          });
        }
      },

      fetchContract() {
        if (this.contractId) {
          axios.get(`/api/v2/contracts/index/${this.contractId}`)
          .then(res => {
            this.contract = res.data;
            this.fetchUnpaidPaymentCount();
          });
        }
      },

      fetchUnpaidPaymentCount() {
        if (this.contractId) {
          axios.get(`/api/v2/contracts/unpaid_payments_count/${this.contractId}?`)
          .then(res => {
            this.unpaidPaymentsCount = res.data.data;
            this.contract = res.data.contract;
              if (this.contract.estado == 'activo' && this.unpaidPaymentsCount == 0) {
                        swal({
                          title: 'Contrato terminado',
                          text: "Elija si Desea extender o cancelar el contrato",
                          type: 'warning',
                          showCancelButton: true,
                          confirmButtonText: 'Extender',
                          cancelButtonText: 'Cancelar'
                        }).then(() => {
                            this.extendContract();
                        }).catch(() => {
                          cancelContract(this.contract.id_contrato);
                        });
              }
          });
        }
      },


      extendContract() {
         window.Contracts.callExtra('details', this.contractId)
      },

      removeAditional(id) {
        Utils.confirmDelete(null, 'Seguro de que desea eliminar el servicio adicional?')
          .then(() => {
            axios.delete(`/aditional/delete/${id}`)
            .then((res) => {
              displayMessage(res.data.message);
              this.fetchAditionals();
            })
            .catch((error) => {
              console.log(error);
            });
          });
      }
    }
  }
</script>
