<template>
    <div class="input-group normal-height">
      <input type="text" class="form-control" tabindex="6" v-model="serviceName" disabled>
      <span class="input-group-btn">
        <button class="btn btn-danger icon" type="button" @click.prevent="remove">
          <i class="material-icons">delete</i>
        </button>
      </span>
    </div>
</template>


<script>
  export default {
    props: {
      service: {
        type: Object,
        required: true,
        default() {
          return {}
        }
      }
    },
    computed: {
      serviceName() {
        return `${this.service.nombre} - RD$ ${this.service.mensualidad}`;
      }
    },
    methods: {
      remove(){
        this.$emit('remove', this.service.id_servicio_adicional);
      }
    }
  }
</script>
