.company-profile
  width: 130px
  height: 130px
  margin-left: 5px
  margin-bottom: 20px

  &__logo
    width: 100%
    height: 100%
    border: 2px solid #ccc
    border-radius: 4px
    padding: 10px

.company-details
  margin: 10px
  padding: 25px 50px
  width: 100%
  top: 5px

.left-navigation.administrador
  background: $primary-color
  .aside-buttons
    a
      color: white

.section-player
  margin-top: -30px
  width: 100%
  overflow-x: hidden

  .section-title
    margin-bottom: 15px
    padding: 0 2%
    text-align: left
  .table,.busquedas
    margin-left: 0
  .pull-right.search
    display: none

.btn-action
  &:hover
    color: $contrast-color
  &[class*="delete-"]:hover
    color: $color_error

@media (max-width: 768px)
  .section-player
    width: 100%
    height: fit-content
    position: static

  .company-details
    margin: 0
    padding: 0 0
    width: 100%
    position: static
    height: fit-content
    text-align: center

  .section-title
    text-align: center
  form
    margin-top: 20px
    display: flex
    flex-direction: column
    align-items: center

  [type="submit"]
    width: 100%

  .right
    text-align: center


