.login-body
  background: #fdfdff
  background-size: cover
  background-image: url('/assets/img/clouds.jpg')
  color: white
  +makeFlex(100%, column, center, center)

  .container-login
    background: rgba(0,0,0, 0.7)
    position: absolute
    width: 100%
    height: 100%
    +makeFlex(100%, column, center, center)

  .login-box
    margin-top: -10vh
    display: flex
    justify-content: center
    align-items: center
    width: 50%

    div
      margin-right: 5%
      color: white
      height: 100%

      &:nth-child(1)
        +makeFlex(100%, column, center, center)
      .cabecera
      form
        +makeFlex(100%, column, center, center)
        margin-bottom: 10px

    .vertical-line
      background: $contrast-color
      width: 5px
      height: 10vh

    label
      color: white
    input[type='submit']
      background: $contrast-color
      width: 100%
      color: white
      margin: 10px 0

      &:hover
       background: darken($contrast-color, 5%)

    input
      border-radius: 0 0 0 0
      font-weight: bolder
      min-width: 250px
      width: 100%

      &:hover,
      &:focus


.copyrights
  color: white
  height: 10vh
  text-align: center
  p
    margin: 0

.splash-screen
  top: 0
  left: 0
  color: #fff
  +makeFlex(100%,column,center,center)
  background: $contrast-color
  position: absolute
  height: 100vh
  z-index: 99

  &.hidden
    animation: fadeSplash 3s

.splash-logo
  width: 300px

.heavy-loader
  +makeFlex(100%,column,center,center)
  height: 100vh
  position: absolute
  top: 0
  left: 0
  background: transparentize(#ccc,.8)
  z-index: 3000
  cursor: wait

  .circle-load
    width: 100px
    height: 100px
    border-radius: 150px
    border: 10px solid transparent
    border-top-color: lighten($contrast-color,20%)
    border-bottom-color: $contrast-color
    animation: loading-circle .3s infinite

  .message
    color: $contrast-color
    font-size: 30px
    margin-top: 30px


@keyframes fadeSplash
  0%
    opacity: 1
  60%
    opacity: 1
  100%
    opacity: 0

@keyframes loading-circle
  0%
    transform: rotate(0deg)
  60%
    transform: rotate(90deg)
  100%
    transform: rotate(360deg)

@media (max-width: 768px)
  .login-body .login-box div
    margin-right: 0
  .splash-logo
    width: 50%
  .splash-screen
    h1
      font-size: 28px
