.page-header
  margin-top: 0
  h3
    margin-top: 0
.center-row
  display: flex
  flex-direction: column
  align-items: center


.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover

  border: none
  border-bottom: 4px solid $contrast-color
  color: $contrast-color
  font-weight: bolder
  background: transparent


.nav-tabs>li>a
  color: #999
  font-size: 20px

.small-id
  width: 100px
.padding
  padding-left: 15px
.watch-in-detail
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control
    background: transparent
    border-color: 2px solid #eee
    cursor: default
    box-shadow: none
    color: $primary-color

  label
    color: #aaa


.client-profile
  height: 120px
  +makeFlex(120px,row,center,center)
  background: $contrast-color
  border-radius: 50%
  color: #fff
  font-size: 60px
  text-align: center
  margin-bottom: 15px

  i
    font-size: 60px
    margin: 25px 0 0 0

::-webkit-input-placeholder
  color: #ccc


.without-padding
  padding-left: 0

.reports
  .tab-content
    padding-top: 30px
// contract form styles
.tabs-container
  height: 500px
  padding: 50px 0 0 0

  .tab-pane
    padding: 20px 10px 0 10px
.tab-content,
.tab-pane
  height: 100%

textarea
  width: 100%
.detail-panel
  padding-top: 20px

.special
  margin-top: 50px
.contract-form,
.special
  input
    height: 100%
    border-left: none
    text-align: right
    &:focus
      outline: none
      // border: none
      box-shadow: none
  .input-group
    margin: 10px 0
    height: 40px
  .input-group-addon
    background: transparent
    border-right: none
    color: #aaa
    font-weight: bolder

.input-group
  height: max-content
  .form-control
    height: 100%

.service-card
  width: 25%
  height: 100px
  margin:  2%
  background: white
  border: 2px solid $contrast-color

  &.selected
    background: $contrast-color
    color: white
  &:first-child,
  &:last-child
    margin: 2%

.centered-container
  +makeFlex(100%,column,center,center)
  margin-top: 50px

.row-container
  margin: 30px 0

.shortcuts-container.for-services
  width: 100%
  justify-content: center
  flex-wrap: wrap

.modal-header
  +card()
  border: none
  background: $contrast-color
  color: #fff

.white-header
  background: white
  color: $contrast-color


.modal
  width: 100%

.modal.contrast
  .modal-content
    text-align: center
    background: $contrast-color
    color: white

  .modal-header
    +card()
    border: none
    background: $contrast-color

.form-inline
  margin-bottom: 20px
  [type="radio"]
    height: 20px
    margin: 0 5px

  .radio
    label
      +makeFlex(100%,row,center,center)
      margin:  0 10px

.loader
  display: none
  position: absolute
  left: 0
  width: 100%
  height: 3px
  background: $contrast-color
  animation: loading 2s infinite

  @keyframes loading
    0%
      width: 0%
    100%
      width: 100%

.main-logo
  width: 300px

.error-message
  margin-bottom: 20px
  cursor: pointer

.fixed-table-loading
  display: none

.fixed-table-toolbar
  display: flex
  height: fit-content
  align-items: center
  margin-bottom: 20px

  .btn,
  input
    height: 38px
  [type='checkbox'],
  label
    height: 20px
    margin-right: 10px
  label
    +makeFlex(100%,row,center,center)

  .searcher-container
    margin: 0 0 0 0
    width: 100%

  .pull-right
    display: flex
    width: fit-content
    margin-left: auto
  .bs-bars
    width: 100%

.mylists
  .fixed-table-toolbar
    margin-top: 10px
    margin-bottom: 20px

  .bootstrap-table
    // margin-top:


.fixed-table-header
  table,
  .t-pago
    margin: 0 0 0 0 !important
.fixed-table-body .t-pagos
  thead
    display: none

.box
  border-top: 0
  background: transparent
  &:hover
    color: $color-error

[data-toggle="modal"]
  cursor: pointer
.form-group.has-info
  label
    color: $contrast-color
  input
    border-color: $contrast-color
    color: $contrast-color
.special-caller
  transition: all .3s ease
  &:hover
    color: $color-error

.normal-height
  height: 28px
  .input-group-btn .btn
    height: 38px
    border: none
    &:hover
      background: lighten($contrast-color,10%)
      color: #fff
  input
    height: 100%

.list-action
  float: right
  background: transparent
  color: $contrast-color
  height: fit-content
  width: fit-content
  border: 0
  &:hover,
  &:focus,
  &:active,
  &:active:focus
    border: 0
    outline: 0
    background: transparent

.borrar-gasto
  @extend .special-caller

.card.original-card,
[class='card'].original-card
  border-radius: 4px
  padding: 0 0 0 0
  .card-body
    padding: 0 0 0 0
  .card-title
    padding: 10px

.alert-info
  margin-top: 15px

.reconnect-caller
  display: none
  &.visible
    display: block
    cursor: pointer
.modal .bootstrap-table
  margin-top: 0
